class--test-colors()
  .bg-tc1
    background: tc1;

  .bg-tc2
    background: tc2;

  .bg-tc3
    background: tc3;

  .bg-tc4
    background: tc4;

  .bg-tc5
    background: weiDark;

mixin--box-shadow(px = 4px, a = 0.2)
  box-shadow: 0 px px * 3 rgba(85, 85, 85, a);

type--headings(weight, size)
  h1, h2, h3, h4, h5, h6
    font-weight: weight;
    font-size: size;
