mBoxShadow(px = 2px, a = 0.1)
  box-shadow: 0 px px * 3 rgba(85, 85, 85, a);

tHeadings()
  h1, h2, h3, h4, h5, h6
    font-weight: normal;
    font-size: 1.8rem;

tTestColors()
  .bg-tc1
    background: tc1;

  .bg-tc2
    background: tc2;

  .bg-tc3
    background: tc3;

  .bg-tc4
    background: tc4;
