class--test-notif()
  .test-notif
    padding: 10px;
    background: weiAccent;
    color: weiDark;
    font-size: 1.2rem;
    transition: 0.1s;

    &:hover
      background: weiAccent2;

    &:first-child
      border-top-left-radius: 10px;

    &:nth-child(n+2)
      border-top: solid 2px weiWhite;

    &:last-child
      border-bottom-left-radius: 10px;

  .test-notif--top
    display: flex;
    margin-bottom: 8px;

    & > span:last-child
      margin-left: auto;
