class--test-card()
  .test-card
    padding: 20px;
    border-radius: 10px;
    background: weiWhite;
    transition: 0.1s;
    mixin--box-shadow(2px, 0.1);

    &:hover
      mixin--box-shadow();

    &:nth-child(n+2)
      margin-top: 20px;
