class--test-card()
  .test-card
    padding: 8px 18px;
    border: solid 2px weiAccent;
    border-radius: 10px;
    background: weiWhite;
    transition: 0.1s;

    &:hover
      border: solid 2px weiAccent2;

    &:nth-child(n+2)
      margin-top: 20px;
