class--toybox()
  .toybox
    position: fixed;
    top: 60px;
    left: 20px;
    padding: 10px;
    width: 360px;
    border-radius: 10px;
    background: weiWhite;
    mixin--box-shadow(2px, 0.1);

  .toy-item
    display: flex;
    align-items: center;
    padding: 10px 12px;
    line-height: 0;

    & > .btn-basic
      margin-left: auto;

    &:nth-child(2n)
      padding: 10px;
      border: solid 2px weiAccent;
      border-radius: 10px;
