html {
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
  line-height: 1.8rem;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  height: inherit;
  background: #f2f2f2;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-size: 1.8rem;
}
.header {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 200px 0 400px;
  width: 100%;
  height: 40px;
  background: #fc0;
  box-shadow: 0 2px 6px rgba(85,85,85,0.1);
}
.header > *:nth-child(2) {
  margin-left: auto;
}
.header > *:nth-child(n+3) {
  margin-left: 20px;
}
.main {
  display: flex;
  padding: 40px 0 0 400px;
  min-height: 100%;
}
.main--nav {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 0;
  min-width: 200px;
  max-width: 200px;
}
.main--content {
  padding: 20px 0 20px 0;
  min-width: calc(100% - 500px);
  max-width: calc(100% - 500px);
}
.main--notify {
  padding: 20px 0 20px 20px;
  min-width: 300px;
  max-width: 300px;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 40px 200px 40px 200px;
  border-top: solid 2px #e6e6e6;
  text-align: center;
}
.btn-basic {
  position: relative;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background: #d9d9d9;
  line-height: 0;
  cursor: pointer;
  transition: 0.2s;
}
.btn-basic:hover {
  background: #e6e6e6;
}
.btn-basic:active {
  top: 1px;
}
.btn-basic:disabled {
  top: 0;
  background: #d9d9d9;
  cursor: not-allowed;
}
.btn-basic:focus {
  background: #00b3b3;
  color: #f2f2f2;
}
.btn-show-toybox {
  position: fixed;
  top: 60px;
  left: 20px;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(85,85,85,0.1);
}
.btn-show-toybox:active {
  top: 61px;
}
.display-none {
  display: none;
}
.hr-basic {
  margin: 0;
  height: 2px;
  border: none;
  background: #e6e6e6;
}
.para {
  text-indent: 20px;
}
.v-div::before {
  color: #f2f2f2;
  content: "|";
}
.test-card {
  padding: 20px;
  border-radius: 10px;
  background: #f2f2f2;
  transition: 0.2s;
  box-shadow: 0 2px 6px rgba(85,85,85,0.1);
}
.test-card:hover {
  box-shadow: 0 4px 12px rgba(85,85,85,0.2);
}
.test-card:nth-child(n+2) {
  margin-top: 20px;
}
.bg-tc1 {
  background: #ffc0cb;
}
.bg-tc2 {
  background: #90ee90;
}
.bg-tc3 {
  background: #add8e6;
}
.bg-tc4 {
  background: #ffffe0;
}
.bg-tc5 {
  background: #333;
}
.toybox {
  position: fixed;
  top: 60px;
  left: 20px;
  padding: 8px;
  width: 360px;
  border-radius: 10px;
  background: #f2f2f2;
  box-shadow: 0 2px 6px rgba(85,85,85,0.1);
}
.toy-item {
  display: flex;
  align-items: center;
  padding: 10px;
}
.toy-item > .btn-basic {
  margin-left: auto;
}
.toy-item:nth-child(2n) {
  padding: 12px 8px;
  border: solid 2px #e6e6e6;
  border-radius: 10px;
}
