@require "./styl/vars.styl";
@require "./styl/general.styl";
@require "./styl/toybox.styl";

html
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
  line-height: 1.8;

*, *::before, *::after
  box-sizing: inherit;

body
  height: inherit;
  background: weiWhite;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;

type--headings(normal, 1.8rem);

.header
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 200px 0 400px;
  width: 100%;
  height: 40px;
  background: hawkeyeGold;
  mixin--box-shadow(2px, 0.1);

  & > *:nth-child(2)
    margin-left: auto;

  & > *:nth-child(n+3)
    margin-left: 20px;

.main
  display: flex;
  padding: 40px 0 0 400px;
  min-height: 100%;

.main--nav
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 0;
  min-width: 200px;
  max-width: 200px;

.main--content
  padding: 20px 0 20px 0;
  min-width: calc(100% - 500px);
  max-width: calc(100% - 500px);

.main--notify
  padding: 20px 0 20px 20px;
  min-width: 300px;
  max-width: 300px;

.footer
  display: flex;
  justify-content: center;
  padding: 40px 200px 40px 200px;
  border-top: solid 2px weiAccent;
  text-align: center;

#btn-toggle-toybox
  position: fixed;
  top: 6px;
  left: 20px;
  z-index: 1;
  background: weiWhite;

  &:active
    top: 7px;
    color: hawkeyeGold;

class--test-colors();

.btn-basic
  position: relative;
  padding: 14px 20px;
  border: none;
  border-radius: 100px;
  background: weiAccent2;
  line-height: 0;

  &:focus
    background: #00b3b3 !important;
    color: weiWhite;

  &[disabled=disabled]
    cursor: not-allowed;

.btn-basic__active
  &:hover
    cursor: pointer;

  &:active
    top: 1px;
    color: weiWhite;

.hr-basic
  margin: 0;
  height: 2px;
  border: none;
  background: weiAccent;

.v-div::before
  color: weiWhite;
  content: "|";

class--toybox();
