@require "./styl/*";
@require "./styl/comp/*";

html
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
  line-height: 1.8rem;

*, *::before, *::after
  box-sizing: inherit;

body
  height: inherit;
  background: weiWhite;
  color: weiDark;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;

tag--h1-h6(normal, 1.6rem);

.header
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 0 0 400px;
  width: 100%;
  height: 40px;
  background: weiDark;
  color: weiWhite;

.header__div
  min-width: calc(100% - 300px);
  max-width: calc(100% - 300px);

.header__title
  // positional adjustment for "Kalam" font
  position: relative;
  top: 2px;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: "Kalam", cursive;

.header__div2
  margin-left: auto;
  padding-left: 20px;
  min-width: 300px;
  max-width: 300px;

.header__greet-user
  padding-left: 20px;

.main
  display: flex;
  padding: 40px 0 0 400px;
  min-height: 100%;

.main__nav
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 0;
  min-width: 200px;
  max-width: 200px;

.main__link
  &:link
    padding: 15px 0;
    color: weiDark;
    text-decoration: none;
    line-height: 0;

  &:visited
    color: weiDark;

  &:hover
    color: weiDarkAccent2;
    text-decoration: underline;

.main__content
  padding: 20px 0 20px 0;
  min-width: calc(100% - 500px);
  max-width: calc(100% - 500px);

.main__h2
  text-indent: 20px;

.main__notif
  padding: 20px 0 20px 20px;
  min-width: 300px;
  max-width: 300px;

.footer
  display: flex;
  justify-content: center;
  padding: 40px 400px 40px 400px;
  text-align: center;

.btn-basic
  position: relative;
  margin-left: 4px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  background: weiAccent;
  color: weiDark;
  line-height: 0;
  cursor: pointer;
  transition: 0.1s;

  &:hover
    background: weiAccent2;

  &:active
    top: 1px;

  &:disabled
    top: 0;
    background: weiAccent;
    color: weiAccent3;
    cursor: not-allowed;

  &:focus
    background: weiFocus;
    color: weiWhite;

.btn-basic--btn-show-toybox
  position: fixed;
  top: 60px;
  left: 20px;

  &:active
    top: 61px;

.hidden
  display: none;

.para
  text-indent: 20px;

.version
  display: inline-block;
  padding: 15px 20px;
  border-radius: 10px;
  background: weiDark;
  color: weiWhite;
  line-height: 0;

class--bg-test-colors();
class--test-card();
class--test-notif();
class--toybox();
