class--test-notif()
  .test-notif
    padding: 20px;
    background: weiAccent;
    color: weiDark;
    font-size: 1.2rem;
    transition: 0.1s;

    &:hover
      background: weiAccent2;

    &:first-child
      border-top-left-radius: 10px;

    &:nth-child(n+2)
      margin-top: 5px;

    &:last-child
      border-bottom-left-radius: 10px;

  .test-notif__top
    display: flex;
    margin-bottom: 5px;

    & > span:last-child
      margin-left: auto;
